<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    <!-- Other head elements -->
</head>
<body class="layout--single">
    {% include masthead.html %}

    <main class="page__content" itemprop="mainContentOfPage">
        <!-- Map Container -->
        <div id="mapid" style="height: 400px;"></div>
    </main>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha384-RFZC58YeKApoNsIbBxf4z6JJXmh+geBSgkCQXFyh+4tiFSJmJBt+2FbjxW7Ar16M" crossorigin=""></script>

    <!-- Leaflet Map Initialization -->
    <script>
        var mymap = L.map('mapid').setView([40.7128, -74.0060], 12);
        L.tileLayer('https://tiles.stadiamaps.com/tiles/stamen_watercolor/{z}/{x}/{y}.jpg', {
            attribution: '© Stadia Maps, © Stamen Design, © OpenMapTiles, © OpenStreetMap contributors',
            maxZoom: 18,
        }).addTo(mymap);
    </script>

    {% include footer.html %}
</body>
</html>
